<p>Olá, {{ name }}!!!</p>

<p>Obrigado por entrar em contato conosco!</p>

<p>Recebemos a sua solicitação ao nosso grupo.</p>

<p>O mais rápido possível, entramos em contato.</p>

<p>
  <strong>Identificação da Escola: </strong> {{ identification }} <br/>
  <strong>E-mail de contato: </strong> {{ email }} <br/>
  <strong>Cidade: </strong> {{ city }} <br/>
  <strong>Telefone/Celular: </strong> {{ phone }} <br/>
  <strong>Quantidade de estudantes: </strong> {{ students_amount }} <br/>
  <strong>Período de curso solicitado: </strong> {{ course_period }} mês(es)<br/>

  <br />

  <small>
    Por gentileza, não responda este e-mail.
  </small>
</p>