<strong>Olá, {{ identification }}!!!</strong>

<br>
<br>

<strong>Obrigado por entrar em contato conosco!</strong>

<p>Recebemos a sua solicitação ao nosso grupo e já estamos analisando.</p>

<p>O mais rápido o possível, entramos em contato.</p>

<p>
  <strong>Identificação: </strong> {{ identification }} <br/>
  <strong>E-mail de contato: </strong> {{ email }} <br/>
  <strong>Cidade: </strong> {{ city }} <br/>
  <strong>Telefone/Celular: </strong> {{ phone }} <br/>
  <strong>Quantidade de estudantes: </strong> {{ students_amount }} <br/>
  <strong>Período solicitado (em meses): </strong> {{ course_period }} mês(es)<br/>

  <br />

  <small>
    Por gentileza, não responda este e-mail.
  </small>
</p>